<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hotel? Trivago.</title>

  <!-- Bootstrap core CSS -->
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymo us"
  />

  <!-- Honestly gave up on express middleware so Ill just add stylesheet here -->
  <style>
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .py-5{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
  }
  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

</style>


</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Hotéis! e apartamentos.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/user">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/mybookings">My Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/booknow">Book now!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/properties">Properties</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h4 class="my-4">Select booking:</h4>
        <div class="list-group">
          <% for(var booking of bookings) { %>
            <a href="/user/mybookings/<%=booking.booking_id%>" class="list-group-item"><%=booking.property_name%> <%=booking.start_date%></a>
            <% } %>  
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title"><%=info.property_name%></h3>
            <h4> $<%=info.price%> </h4>
            <p class="card-text">Address: <%=info.address%></p>
            <p class="card-text">City: <%=info.city%></p>
            <p class="card-text">Property type: <%=info.property_type%></p>
            <p class="card-text">Room type: <%=info.room_type%></p>
            <p class="card-text">Max Occupancy: <%=info.max_occupany%></p>
            <p class="card-text">Number of room: <%=info.num_rooms%>. and Numbers of bathrooms: <%=info.num_bathrooms%>.</p>
            <p class="card-text">Booking Start Date: <%=info.start_date%></p>
            <p class="card-text">Booking End Date: <%=info.end_date%></p>
            <p class="card-text">Your rating: <%=info.rating%></p>
            <p class="card-text">Your comment: <%=info.comment%></p>
          
            <a href="/user/cancelbook/<%=info.booking_id%> " class="btn btn-danger">Cancel Booking</a>
            <p></p>
            <p></p>
            <p></p>
            <p>Leave a review. (If you haven't already).</p>

            <form accept-charset="UTF-8" action="/user/review/<%=info.booking_id%>" method="post">
                <label for="sel1">Rating (out of 5)</label>
                <select class="form-group" name="rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select> 
              <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
              
              <div class="text-right">
                  <p></p>
                  <button class="btn btn-success" type="submit" >Leave a Review</button>
              </div>
          </form>

          </div>
        </div>
        

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Built with love ♥️ by Omer, Laura, Eli and Mr.Bootstrap!</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
